﻿
@{
    ViewBag.Title = "TestNotices";
    Layout = "";
}

<html>
<head>
    <style>
        :: -webkit-scrollbar {
            width: 0px;
            background: transparent; /* make scrollbar transparent */
        }

        html {
            height: 100%;
            width: 100%;
            margin:0;
        }
        iframe {
            height:100%;
            width:49%;
            border:0;
        }
    </style>

</head>
<body>
    <iframe src="http://localhost:64132/email/testnotices?templateType=hold&reportingOrgIds=3&reportingOrgIds=7&reportingOrgIds=9&noticeGen=true&format=html"></iframe>
    <iframe src="http://localhost:64132/email/testnotices?templateType=hold&reportingOrgIds=3&reportingOrgIds=7&reportingOrgIds=9&noticeGen=true&format=plaintext"></iframe>
</body>
</html>
