﻿@model Notices.Models.UnsubscribeViewModel

@{
    ViewBag.Title = "Unsubscribe";
}


<h2>Unsubscribe from Library Account Email Notification</h2>
@Html.ValidationSummary(false)

<p>
    Please enter your library card number and PIN to unsubscribe from library account email notifications: hold pick up notices, reminder notices and other account related correspondence. Unsubscribing <b>will change your notification method to telephone or print</b>.
</p>

<p>
    If you do not wish to receive other non-account related library emails please <a href="http://www.clcohio.org/member-libraries">contact your library</a> or use the unsubscribe link found in that correspondence.
</p>

@using (Html.BeginForm("Unsubscribe", "Email", FormMethod.Post, new { @id = "unsubscribe-form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Barcode)
        @Html.EditorFor(m => m.Barcode)
        @Html.ValidationMessageFor(m => m.Barcode)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Pin)
        @Html.EditorFor(m => m.Pin)
        @Html.ValidationMessageFor(m => m.Pin)
    </div>

    <button class="btn btn-default" type="submit">Unsubscribe</button>

}