﻿
@{
    ViewBag.Title = "Unsubscribed";
}

<h2>Unsubscribed</h2>
<p>You have been successfully unsubscribed from library account email notifications. Please allow 24 hours for the system to be updated with your preferences. Thank you.</p>
