﻿@model ExampleEmailNoticeViewModel
@{
    ViewBag.Title = "Example";
}

@section head {
    <style>
        #container {
            width: 99%;
        }
    </style>
}
    <script>
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
    </script>

@using (Html.BeginForm("Example", "Email", FormMethod.Get, new { target = "frame" }))
{
    <div class="form-row align-items-center">
        <div class="col-auto">
            @Html.LabelFor(m => m.PatronBranchId)
            @Html.DropDownListFor(m => Model.PatronBranchId, Model.PolarisBranches, new { @class = "form-control" })
        </div>
        <div class="col-auto">
            @Html.LabelFor(m => m.ReportingOrgIds)
            @Html.ListBoxFor(m => m.ReportingOrgIds, Model.PolarisBranches, new { @class = "form-control" })
        </div>
        <div class="col-auto">
            @Html.LabelFor(m => m.NoticeType)
            @Html.DropDownListFor(m => Model.NoticeType, Model.NoticeTypeTest, new { @class = "form-control" })
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
    </div>
}

<iframe id="frame" name="frame" style="width:100%;" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>