﻿
@{
    ViewBag.Title = "ViewTestNoticeEmail";
}

<h2>View Test Notice Emails</h2>

@using (Html.BeginForm("ViewTestNoticeEmail", "Email", FormMethod.Post))
{
    @Html.Label("Patron Barcode:") @Html.TextBox("patronBarcode");@:<br/>
    @:or </br>
    @Html.Label("Patron ID:") @Html.TextBox("patronId");@:<br/>

    @:<button name="button" value="expirationReminder">Expiration Reminder</button>
}