﻿
@{
    ViewBag.Title = "Unauthorized";
}

<h2>Unauthorized</h2>

@if (Request.UrlReferrer != null)
{
    <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a>
    <br />
}

