﻿@model EmailListViewModel
@{
    ViewBag.Title = "History";
}

<div id="container">

    @if (!string.IsNullOrWhiteSpace(Model.Address))
    {
        <h2>Emails Sent to @Model.Address in Last 45 Days</h2>
    }
    else
    {
        <h2>Enter an email address to search</h2>
    }
    @using (Html.BeginForm("Email", "History", FormMethod.Get))
    {
        @Html.Label("Email Address")@:&nbsp;
        @Html.TextBox("email");
        <input type="submit" />
        if (!string.IsNullOrWhiteSpace(Model.Address))
        {
            @Html.ActionLink("Clear", "email")
        }
    }
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    Time
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>

        @foreach (var m in Model.Emails.OrderByDescending(msg => msg.ReceivedAt))
        {
            var isError = !m.Status.Equals("sent", StringComparison.OrdinalIgnoreCase);
            <tr class="@(isError ? "danger":"")">
                <td class="col-md-2">
                    @m.ReceivedAt.ToLocalTime().ToString("MM/dd/yyyy hh:mm tt")
                </td>
                <td class="col-md-9">
                    @Html.ActionLink(string.IsNullOrWhiteSpace(m.Subject) ? "None" : m.Subject, "EmailContent", new { id = m.Id }, new { target = "_blank" })
                </td>
                <td class="col-xs-1">
                    @m.Status
                </td>
            </tr>
        }
    </table>
</div>

<script>
    if (window.location.href.indexOf("email") < 0) {
        $(window).bind("pageshow", function () {
            $("#email").val('');
        });
    }
</script>