﻿@model MessageListViewModel
@{
    ViewBag.Title = "History";
}

<div id="container">

    @if (!string.IsNullOrWhiteSpace(Model.PhoneNumber))
    {
        <h2>Most Recent Messages Sent to @Model.PhoneNumber</h2>
    }
    else
    {
        <h2>Recently Sent SMS</h2>
    }
    @using (Html.BeginForm("Sms", "History", FormMethod.Get))
    {
        @Html.Label("Phone Number")@:&nbsp;
        @Html.TextBox("pn");
        <input type="submit" />
        if (!string.IsNullOrWhiteSpace(Model.PhoneNumber))
        {
            @Html.ActionLink("Clear", "sms")
        }
    }
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    Time
                </th>
                <th>
                    To
                </th>
                <th>
                    Message
                </th>
                <th>
                    Error
                </th>
            </tr>
        </thead>
        
        @foreach (var m in Model.Messages.OrderByDescending(msg => msg.DateSent))
        {
            <tr class="@(string.IsNullOrWhiteSpace(m.Error) ? "danger":"")">
                <td>
                    @(m.DateSent.ToLocalTime().ToString())
                </td>
                <td>
                    @m.To
                </td>
                <td>
                    @m.Body
                </td>
                <td>
                    @m.Error
                </td>
            </tr>
        }
    </table>
</div>

<script>
    if (window.location.href.indexOf("pn") < 0) {
        $(window).bind("pageshow", function () {
            $("#pn").val('');
        });
    }
</script>