﻿@model ManualSmsViewModel

@{
    ViewBag.Title = "Send SMS";
}

<h2>Send SMS</h2>

@if (!string.IsNullOrWhiteSpace(Model?.Info))
{
<h3>@Model.Info</h3>
}
@using (Html.BeginForm("Manual", "Sms", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m=>m.PhoneNumber)
        @Html.TextBoxFor(m=>m.PhoneNumber, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Message)
        @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
        <span class="float-right badge badge-secondary" id="count_message"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}

<script>
    $('form').find("input[type=text], textarea").val("")

    function foo() {
        $("#message-length").text($("#Message").val().length);
    }

    var text_max = 160;
    $('#count_message').html('0 / ' + text_max );

    $('#Message').keyup(function() {
        var text_length = $('#Message').val().length;
        var text_remaining = text_max - text_length;
  
        $('#count_message').html(text_length + ' / ' + text_max);
    });
</script>